<nav class="navbar">
    <ul class="navbar-list">
      <li><a href="/">Inicio</a></li>
      <li><a href="/consumos">Lista de consumos</a></li>
      <li><a href="/categorias">Por categoría</a></li>
      <li><a href="/subtotales">Subtotales</a></li>
    </ul>
  </nav>