
<nav class="navbar">
    <ul class="navbar-list">
      <li><a href="/"><i class="fas fa-house"></i></a> </i></li>
      <li><a href="/consumos">|Gastos/Consumos <i class="fas fa fa-cash-register"></i>|</a> </li>
      <li><a href="/categorias">|Categorias de Gastos <i class="fas fa fa-bars"></i> |</a> </li>
      <li><a href="/subtotales">|Totales por Categorias <i class="fas fa fa-list-ol"></i> |</a> </li>
      <li><a href="/ingresos">|Ingresos <i class="fas fa fa-money-check-dollar"></i> |</a> </li>
      <li><a href="/recurrentes">|Recurrentes-Debitos <i class="fas fa fa-calendar-days"></i> |</a> </li>

    </ul>
  </nav>