
<nav class="navbar">
    <ul class="navbar-list">
      <li><a href="/" title="Inicio"><i class="fas fa-house"></i></a> </i></li>
      <li><a href="/consumos" title="Gastos"> <i class="fas fa fa-cash-register"></i></a> </li>
      <li><a href="/categorias" title="listados x Categoria"> <i class="fas fa fa-bars"></i> </a> </li>
      <li><a href="/subtotales" title="Categorias">  <i class="fas fa fa-list-ol"></i> </a> </li>
      <li><a href="/ingresos" title="Mis ingresos"> <i class="fas fa fa-money-check-dollar"></i> </a> </li>
      <li><a href="/recurrentes" title="Servicios Mensuales"> <i class="fas fa fa-calendar-days"></i> </a> </li>
      <li><a href="/pagos" title="Mis Pagos"> <i class="fas fa fa-hand-holding-dollar"></i> </a> </li>
      <li><a href="/registroDeServicios" title="Lo que suelo pagar"> <i class="fas fa fa-hand-holding-dollar"></i> </a> </li>

    </ul>
  </nav>