<%- include('./partials/head') %>

<body>

<%- include('./partials/navbar') %>      

<div class="list-container">
<div class="form-wrapper">
    <h1>Cargar Cliente</h1>
    
    <form id="formulario" action="/clientes" method="POST">
      
  
      <label for="name">Nombre del Cliente</label>
      <input type="text" id="name" name="name" required><br><br>
  
      
      <label for="id_fk">ID_FK</label>
      <input type="number" id="id_fk" name="id_fk" required><br><br>
      
      
  
        
      <label for="texto-libre">Texto Libre:</label>
      <input type="text" id="texto-libre" name="texto_libre" style="width: 300px; height: 100px;" maxlength="200"><br><br>
  
      <label for="color">Color:</label>
      <select id="color" name="color">
        <option value="#FF0000" style="background-color: #ffffff;">Blanco Luz</option>
        <option value="#FF0000" style="background-color: #FF0000;">Rojo</option>
        <option value="#00FF00" style="background-color: #00FF00;">Verde</option>
        <option value="#0000FF" style="background-color: #0000FF;">Azul</option>
        <option value="#FFFF00" style="background-color: #FFFF00;">Amarillo</option>
        <option value="#FF00FF" style="background-color: #FF00FF;">Magenta</option>
        <option value="#00FFFF" style="background-color: #00FFFF;">Cian</option>
        <option value="#000000" style="background-color: #000000; color: #FFFFFF;">Negro</option>
      </select><br><br>
  
      <input type="submit" value="Guardar">
    </form>
  </div>
  </div>
  