<%- include('./partials/head')%>

<body>

<%- include('./partials/navbar') %>
<br>
<br>

<br>

<br>

<br>

<br>




<p><span id="mesCorrienteBancarizado">El total de ingresos bancarizados del mes corriente es <%= bancarizadoMesCorriente %></span></p>
<p><span id="mesCorrienteConsumosBancarizados">El total de consumos bancarizados del mes corriente es <%= sumaImportesConsumosBancarizados %></span></p>
