<%- include('./partials/head')%>

<body>

<%- include('./partials/navbar') %>

<div class="list-containerI">
      <h1>Totales por cliente</h1>

    <a id='mesCorriente' href="/cargarCliente">Nuevo Cliente<i class="fa-solid fa-plus"></i></i></a> </i>
      
      <div class="table-wrapper">
        <table class="list-tableI">
        <tr>
      <!--<th>ID</th>-->
      
      <th>Nombre</th>
      
      
      <th>id_fk</th>
      
      
    </tr>
    <% clientes.forEach(function(cliente) { %>
      <tr>
       
        <td><%= cliente.nombre %> 
        <td><%= cliente.id_fk %></td></tr>
    <% }); %>
    
    
    
    <table>
        
  </table>
</div>
</div>
</div>

</body>
</html>