<%- include('./partials/head')%>

<body>

<%- include('./partials/navbar') %>    
<p>Heladera</p>
<h1>1/12 -- 1ER CUOTA PAGADA</h1>
<h1>2/12 -- 2DA CUOTA PAGADA ---1/8/2023 ---$18207 </h1>
<h1>3/12 -- 3ER CUOTA PAGADA ---4/9/2023 $ 15.166,58</h1>


