<%- include('./partials/head')%>

<body>

<%- include('./partials/navbar') %>

<div class="list-containerI">
      <h1>Servicios y pagos mensuales pronosticados para los proximos meses</h1>
      
      <div class="table-wrapper">
        <table class="list-tableI">
          <tr>
            <th>fecha de Cobro</th>
            <th>empresa/Servicio</th>
            <th>importe</th>
            <th>Como se paga</th>

          </tr>
        </thead>
        <tbody>
          
          <tr>
            <td>-</td>
            <td>gastos propios de casa aprox</td>
            <td>$52000</td>
            <td>amex-debitos-servicios-efectivo-gatos</td>

          </tr>
          <tr>
            <td>30 de cada mes</td>
            <td>San Patricio Seguro -MOTO-</td>
            <td>$700</td>
            <td>AMEX</td>

          </tr>
          <tr>
            <td>1-5 de agosto</td>
            <td>Visa Santander Rio</td>
            <td>$7500</td>
            <td>AMEX</td>

          </tr>
          <tr>
            <td>1 x mes</td>
            <td>AGUA - AYSA</td>
            <td>$350 x mes aprox 1/2 con nadia</td>
            <td>SAUL</td>

          </tr>
          <tr>
            <td>1 de cada mes</td>
            <td>Zurich Home Protection 1/2 con nadia</td>
            <td>$4757</td>
            <td>AMEX</td>

          </tr>
          <tr>
            <td>15-20 de cada mes</td>
            <td>San Cristobal de la casa</td>
            <td>$5000</td>
            <td>AMEX</td>
          </tr>
          
          <tr>
            <td>15-20 de cada mes</td>
            <td>San Cristobal del auto</td>
            <td>$12000</td>
            <td>AMEX</td>
          </tr>
          <tr>
            <td>15-20 de cada mes</td>
            <td>AFIP MONOTRIUBUTO</td>
            <td>$2000</td>
            <td>lo tenes que pagar, MERCADOPAGO te lo pone automatico</td>
          </tr>
          <tr>
            <td>1-5 del mes</td>
            <td>METROGAS</td>
            <td>$400</td>
            <td>lo tenes que pagar 1/2 nadia</td>
          </tr>
          <tr>
            <td>20 del mes</td>
            <td>PERSONAL INTERNET</td>
            <td>$3500</td>
            <td>lo tenes que pagar 1/2 con nadia</td>
          </tr>
          <tr>
            <td>20 del mes</td>
            <td>PERSONAL CELULAR</td>
            <td>$6000</td>
            <td>lo tenes que pagar</td>
          </tr>
          <tr>
            <td>2.5 KG X MES</td>
            <td>GATOS</td>
            <td>$5000</td>
            <td>lo tenes que pagar</td>
          </tr>
          <tr>
            <td>Comision por servicio de cuenta
            </td>
            <td>santander rio</td>
            <td>$4500</td>
            <td>lo tenes que pagar desde tu cuenta</td>
          </tr>
          <tr>
            <td>DICIEMBRE</td>
            <td>ABL</td>
            <td>100USD</td>
            <td>lo tenes que pagar</td>
          </tr>
          <tr>
            <td>DEUDA AMEX AL 7-7-2023</td>
            <td>AMEX</td>
            <td>$65000</td>
            <td>lo tenes que pagar</td>
          </tr>
          
          <tr>
            <td>DEUDA AFIP</td>
            <td>AFIP</td>
            <td>$20000</td>
            <td>lo tenes que pagar</td>
          </tr>
          
          
        
          
    <table>
        
  </table>
</div>
</div>
</div>

</body>
</html>