<%- include('./partials/head')%>

<body>

<%- include('./partials/navbar') %>

<div class="list-containerI">
      <h1>Servicios y pagos mensuales a tener en cuenta</h1>
      
      <div class="table-wrapper">
        <table class="list-tableI">
          <tr>
            <th>Fecha de Cobro</th>
            <th>Empresa/Servicio</th>
            <th>Importe</th>
            <th>Como se paga</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>30 de cada mes</td>
            <td>San Patricio Seguro -MOTO-</td>
            <td>$700</td>
            <td>AMEX</td>

          </tr>
          <tr>
            <td>1 de cada mes</td>
            <td>Zurich Home Protection</td>
            <td>$9514</td>
            <td>AMEX</td>

          </tr>
          <tr>
            <td>15-20 de cada mes</td>
            <td>San Cristobal de la casa</td>
            <td>$5000</td>
            <td>AMEX</td>
          </tr>
          <tr>
            <td>25 de cada mes</td>
            <td>INTERESES POR FINANCIACION</td>
            <td>$11000</td>
            <td>AMEX</td>
          </tr>
          <tr>
            <td>15-20 de cada mes</td>
            <td>San Cristobal del auto</td>
            <td>$12000</td>
            <td>AMEX</td>
          </tr>
          <tr>
            <td>15-20 de cada mes</td>
            <td>AFIP MONOTRIUBUTO</td>
            <td>$2000</td>
            <td>lo tenes que pagar, MERCADOPAGO te lo pone automatico</td>
          </tr>
          <tr>
            <td>1-5 del mes</td>
            <td>METROGAS</td>
            <td>$800</td>
            <td>lo tenes que pagar</td>
          </tr>
          <tr>
            <td>20 del mes</td>
            <td>PERSONAL INTERNET</td>
            <td>$6400</td>
            <td>lo tenes que pagar</td>
          </tr>
          <tr>
            <td>20 del mes</td>
            <td>PERSONAL CELULAR</td>
            <td>$6000</td>
            <td>lo tenes que pagar</td>
          </tr>
          <tr>
            <td>DICIEMBRE</td>
            <td>ABL</td>
            <td>100USD</td>
            <td>lo tenes que pagar</td>
          </tr>
          <tr>
            <td>DEUDA AMEX AL 5-7-2023</td>
            <td>AMEX</td>
            <td>$125000</td>
            <td>lo tenes que pagar</td>
          </tr>
          <tr>
            <td>DEUDA TFA</td>
            <td>EFECTIVO</td>
            <td>$90000</td>
            <td>lo tenes que pagar</td>
          </tr>
    
    <table>
        
  </table>
</div>
</div>
</div>

</body>
</html>