<%- include('./partials/head')%>

<body>

<%- include('./partials/navbar') %>    

<div class="list-container">
  <table class="list-table">
<h1>Lista de Categorías</h1>
<table>
  <thead>
    <tr>
      <th>Categoría</th>
      <th>Total Gastos</th>
    </tr>
  </thead>
  <tbody>
    <% Object.entries(totalesPorCategoria).forEach(([categoria, total]) => { %>
      <tr>
        <td><%= categoria %></td>
        <td><%= total.toFixed(2) %></td>
      </tr>
    <% }); %>
  </tbody>
</table>
</div>

</body>