<%- include('./partials/head') %>

<body>

<%- include('./partials/navbar') %>      

<div class="content-container">

<h1>Input y Mostrar</h1>
<input type="text" id="textoInput" placeholder="Escribe un texto o número">
<button id="agregarButton">Agregar</button>

<h2>Elementos Agregados:</h2>
<ul id="elementosList"></ul>
</div>
<script>
    const textoInput = document.getElementById('textoInput');
    const agregarButton = document.getElementById('agregarButton');
    const elementosList = document.getElementById('elementosList');

    agregarButton.addEventListener('click', () => {
        const nuevoElemento = textoInput.value;
        if (nuevoElemento) {
            const listItem = document.createElement('li');
            listItem.textContent = nuevoElemento;
            elementosList.appendChild(listItem);
            textoInput.value = '';
        }
    });
</script>
</body>

</html>