body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos de la barra de navegación */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.navbar-list li {
  margin-right: 10px;
}

.navbar-list li:last-child {
  margin-right: 0;
}

.navbar-list li a {
  color: #fff;
  text-decoration: none;
}

.navbar-list li a:hover {
  text-decoration: underline;
}

.list-container {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-wrapper {
  width: 48%;
  margin-bottom: 20px;
}

.list-container h1 {
  text-align: center;
  /*margin-bottom: 20px;*/
  margin-left: auto;
  margin-right: auto
}

.list-container form {
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.list-container label {
  display: block;
  margin-bottom: 5px;
}

.list-container input[type="date"],
.list-container input[type="text"],
.list-container input[type="number"],
.list-container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.list-container input[type="submit"] {
  width: auto;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.list-container input[type="submit"]:hover {
  background-color: #45a049;
}

.list-container #paymentDetails,
.list-container #installmentDetails {
  display: none;
}

.list-container .categoria-option {
  display: flex;
  align-items: center;
}

.list-container .categoria-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.list-container select#color {
  padding: 5px;
  background-color: transparent;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.list-container select#color option {
  padding: 5px;
}

.list-container select#color option:hover {
  background-color: #f2f2f2;
}

.list-container select#color::-ms-expand {
  display: none;
}

@media (max-width: 768px) {
  .form-wrapper {
    width: 100%;
  }
}


/*lista ingresos*/

.table-wrapper {
  overflow-x: auto;
}

.list-tableI {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  white-space: nowrap; 
}

.list-tableI th, .list-tableI td {
  padding: 10px;
  text-align: center;
}

.list-tableI th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.list-tableI tr:nth-child(even) {
  background-color: #eaf2f8;
}

.list-tableI tr:hover {
  background-color: #cfdcf6;
}

.list-tableI td div {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/*index*/
.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-wrapper {
  width: 48%;
  margin-bottom: 20px;
}

.list-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.list-container form {
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.list-container label {
  display: block;
  margin-bottom: 5px;
}

.list-container input[type="date"],
.list-container input[type="text"],
.list-container input[type="number"],
.list-container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.list-container input[type="submit"] {
  width: auto;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.list-container input[type="submit"]:hover {
  background-color: #45a049;
}

.list-container #paymentDetails,
.list-container #installmentDetails {
  display: none;
}

.list-container .categoria-option {
  display: flex;
  align-items: center;
}

.list-container .categoria-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.list-container select#color {
  padding: 5px;
  background-color: transparent;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.list-container select#color option {
  padding: 5px;
}

.list-container select#color option:hover {
  background-color: #f2f2f2;
}

.list-container select#color::-ms-expand {
  display: none;
}

.table-wrapper {
  overflow-x: auto;
}

@media (max-width: 768px) {
  .form-wrapper {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .table-wrapper {
    overflow-x: scroll; /* Desplazamiento horizontal en pantallas pequeñas */
    -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos iOS */
    margin-bottom: 20px;
  }

  .list-tableI {
    min-width: 600px; /* Ancho mínimo de la tabla para evitar que se colapse demasiado */
  }
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  /* Navbar ocupa el ancho completo del viewport */
  .navbar {
    
    display: flex;
    justify-content: center;
  }

  /* Ajustes adicionales para los íconos en dispositivos móviles */
  .navbar-list li {
    margin: 0 10px;
  }
}

.list-containerI{
  margin-top: 50px;
}
