/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos de la barra de navegación */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.navbar-list li {
  margin-right: 10px;
}

.navbar-list li:last-child {
  margin-right: 0;
}

.navbar-list li a {
  color: #fff;
  text-decoration: none;
}

.navbar-list li a:hover {
  text-decoration: underline;
}

/* Estilos para la tabla de consumos */
.list-table {
  width: 100%;
  border-collapse: collapse;
}

.list-table th,
.list-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
}

.list-table th {
  background-color: #f2f2f2;
}

.list-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.list-table td:last-child {
  text-align: center;
}

.list-table .color-box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* Estilos para los títulos de las columnas */
.list-table th {
  white-space: nowrap;
}

.list-table th div {
  display: flex;
  align-items: center;
}

.list-table th .title-cell {
  margin-right: 10px;
}

/* Estilos para los datos de consumo */
.list-table td {
  white-space: nowrap;
}

.list-table td div {
  display: flex;
  align-items: center;
}

.list-table td .color-box {
  margin-right: 10px;
}